{% extends "base.html" %}
{% load staticfiles %}

{% block appSpecificCss %}
{% endblock %}

{% block pageSpecificCss %}
{% endblock %}

{% block navBar %}
    <li>
        <a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;{{ username }}</a>
    </li>
{% endblock %}

{% block pageHeader %}
{% endblock %}

{% block pageContent %}
    <section id="pageContent">
        <div class="container">
            <div class="row">&nbsp;</div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <nav>
                        <ul class="pager">
                            <li><a href="{% url 'query:display' previousPage %}">Previous</a></li>
                            <li><a href="{% url 'query:display' nextPage %}">Next</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <img src="{% static pageLocation %}" class="img-responsive">
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
{% endblock %}

{% block appSpecificJs %}
{% endblock %}

{% block pageSpecificJs %}
        <script src="{% static "js/displayPage.js" %}"></script>
{% endblock %}